<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dicer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>

        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="felipeluizb@hotmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(51) 99933-4741 </h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av. das Flores 2000 - 99999-999 - São Paulo</h5>
        </p>

    </div>
</div>