

@* <div id="carouselAthena" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/produtos/VestidoBrancoMidi.jpeg" height="300" width="600" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/produtos/VestidoLongoLaranja.jpeg" height="300" width="600" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/produtos/VestidoLongoVerdeDeBolinhas.jpeg" height="300" width="600" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAthena" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAthena" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> *@

@*Novo carousel*@

<section id="billboard" class="overflow-hidden">

    <button class="button-prev">
        <i class="icon icon-chevron-left"></i>
    </button>
    <button class="button-next">
        <i class="icon icon-chevron-right"></i>
    </button>
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('images/banner1.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="banner-title">Coleção de verão</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                                <div class="btn-wrap">
                                    @* <a href="shop.html" class="btn btn-light btn-medium d-flex align-items-center" tabindex="0">
                                        Compre agora <i class="icon icon-arrow-io"></i>
                                    </a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/banner2.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="banner-title">Coleção Casual</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                                <div class="btn-wrap">
                                    @* <a href="shop.html" class="btn btn-light btn-light-arrow btn-medium d-flex align-items-center" tabindex="0">
                                        Compre agora <i class="icon icon-arrow-io"></i>
                                    </a> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>