@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
        <li>
            <button id="botaoLogout" type="submit">Logout</button>
        </li>
    </form>
}
else
{
    <li>
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)">
            Entrar &nbsp;
        </a>
        <a asp-controller="Account" asp-action="Register">Registrar</a>
    </li>
}