@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <button type="submit" class="nav-link btn btn-link py-0">Logout</button>
            </li>
            
        </ul>
    </form>
}
else
{
    <li>
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)">
            Entrar &nbsp;
        </a>
        <a asp-controller="Account" asp-action="Register">Registrar</a>
    </li>
}